@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

// Mixins
@mixin h_center_content {
  position: relative;
  left: 50%;
  translate: -50% 0;
}

@mixin v_center_content {
  position: relative;
  top: 50%;
  translate: 0 -50%;
}

@mixin center_content {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin border_red { border: 1px solid red; }
@mixin border_blu { border: 1px solid blue; }

@mixin hover {
  background-color: $primary !important;
  color: $neutral !important;
  cursor: pointer;
}

// Tags
html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
}

h1 {
  font-size: $large_font;
  font-weight: $bold_x1;
  color: $primary;
}

h2 {
  font-size: $large_font_x1;
  font-weight: $bold_default;
  margin: 0;
  margin-bottom: $margin;
}

h3 {
  font-size: $large_font;
  font-weight: $bold_x1;
  margin: 0;
  color: $primary;
}

h4 {
  font-size: $mid_font;
  font-weight: $bold_light;
  margin: 0;
  color: $primary;
}

p {
  line-height: 1.5;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

em {
  font-weight: $bold_x1;
  font-style: normal;
}

// Icons
.close_modal_svg {
  fill: $primary;
  scale: .9;
  transition: fill $animation;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    fill: $primary_hover;
    cursor: pointer;
  }
}

.more_options_svg {
  width: 20px;
  height: 20px;
  opacity: 0;
  fill: $light_grey;
  transition: opacity $animation, fill $animation;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    fill: $primary !important;
    cursor: pointer;
  }
}

.visibilitySVG {
  height: 25px;
  fill: $light_grey;
  scale: .9;
  translate: 0 3px;
  transition: fill $animation;
}

// Other
.flex {
  display: flex;
  justify-content: space-between;
}