@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

@mixin h_center_content {
  position: relative;
  left: 50%;
  translate: -50% 0;
}

@mixin v_center_content {
  position: relative;
  top: 50%;
  translate: 0 -50%;
}

@mixin center_content {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin border {
  border: 1px solid red;
}

@mixin hover {
  background-color: $primary !important;
  color: $neutral !important;
  cursor: pointer;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
}

h1 {
  font-size: $large_font;
  font-weight: $bold_x1;
  color: $primary;
}

h2 {
  font-size: $large_font_x1;
  font-weight: $bold_default;
  margin: 0;
  margin-bottom: 25px;
}

h3 {
  margin: 0;
  color: $primary;
}

p {
  line-height: 1.5;
  margin-bottom: 25px;
}

.flex {
  display: flex;
  justify-content: space-between;
  // border: 1px solid red;
}

.card {
  padding: $card_padding;
  border-radius: $border_radius;
  background-color: $neutral;
  border: 1px solid $primary;
  transition: scale $animation;

  &:hover { scale: 1.02; }
}

.card_sm {
  padding: $card_padding_sm;
  border-radius: $border_radius;
  background-color: $neutral;
  border: 1px solid $primary;
  transition: box-shadow $animation;

  &:hover {
    box-shadow: 0 0 5px $primary_hover;
    cursor: pointer;
  }
}

button {
  padding: 0;
  margin: 0;
  // border: 1px solid $primary;
  background-color: transparent;
}

a { text-decoration: none; }

a, button {
  padding: $link_padding;
  border-radius: $border_radius;
  color: $primary;
  transition: background-color $animation;
  
  &:hover { @include hover; }
}

.card_a {
  border: 1px solid $primary;

  &:hover {
    width: calc(100% - $card_padding);
    text-align: center;
  }
}

.card_sm_number_effect {
  font-size: $large_font_xl !important;
  font-weight: $bold_x2;
  opacity: .03;
  position: absolute;
  top: -60px;
  right: 0;
}

.card_lg_number_effect {
  font-size: $large_font_xxl;
  font-weight: $bold_x2;
  opacity: .1;
  position: absolute;
  top: -17px;
  right: 7px;
}