// Buttons
button {
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid $primary;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

// Links
a { text-decoration: none; }

a, button {
  padding: $link_padding;
  border-radius: $border_radius;
  color: $primary;
  transition: background-color $animation;
  
  &:hover { @include hover; }
}

// Badges
.badge {
  font-weight: $bold_x1;
  padding: 2px 10px;
  color: $primary;
  border-radius: $border_radius;
  transition: background-color $animation;
  translate: 10px 0;

  &:hover {
    color: $neutral;
    background-color: $primary;
  }
}

// Cards
.card {
  padding: $card_padding;
  border-radius: $border_radius;
  background-color: $neutral;
  border: 1px solid $primary;
}

.card_sm {
  padding: $card_padding_sm;
  transition: box-shadow $animation;

  &:hover {
    box-shadow: 0 0 5px $primary_hover;
    cursor: pointer;
  }
}

.card_md {
  padding: $card_padding_md;
  transition: scale $animation;

  span { white-space: nowrap ;}
  &:hover { scale: $scale; }
}

.card_lg {
  transition: scale $animation;  
  
  &:hover { scale: $scale; }
}

.card_number_effect_ex {
  display: none;
  font-size: $large_font_xl;
  font-weight: $bold_x2;
  opacity: .1;
  position: absolute;
  top: -20px;
  right: -3px;
}

.card_number_effect_lg {
  font-size: $large_font_xxl;
  font-weight: $bold_x2;
  opacity: .05;
  position: absolute;
  top: -15px;
  right: 7px;
}

.card_number_effect_modal {
  font-size: $large_font_x2;
  font-weight: $bold_x2;
  display: inline-block;
  opacity: .3;
  translate: 5px 0;
}

.card_a {
  border: 1px solid $primary;

  &:hover {
    width: calc(100% - $card_padding);
    text-align: center;
  }
}

.card_button { &:hover { width: 100%; } }

// Forms
input, textarea, select, option {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .9rem;
}

input, textarea, select {
  border: none;
  border-bottom: 1px solid $primary;
  background: transparent;
  transition: box-shadow $animation;

  &:focus {  
    outline: none;
    box-shadow: 0 2px 1px $primary_hover;
  }
}

form {
  input, textarea, select {
    border-radius: $border_radius;
    border: 1px solid $primary;

    &:focus { box-shadow: 0 0 5px $primary_hover; }
  }

  textarea {
    min-width: 40%;
    max-width: calc(100% - 10px);
    min-height: 40px;
    max-height: 150px;
  }
  
  button {
    width: 100%;
    font-size: .9rem;
    padding: 7px 0;
    margin-top: 10px;
  }
}

.login_container {
  width: 75%;
  padding: 5px 15px 15px;
  border-radius: $border_radius;
  border: 1px solid $primary;
  @include center_content;
  position: absolute;
}

.login_form {
  input {
    width: 80%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid $primary;
    border-radius: 0;
    background: transparent;
    transition: box-shadow $animation;

    &:focus { box-shadow: 0 0 0 transparent; }
  }
}

// Tables
.table_container {
  border: 1px solid $primary;
  border-radius: $border_radius;
  padding-bottom: 7px;
}

.table_container::-webkit-scrollbar { width: 0; }

.table_container_sm { display: inline-table; }

table {
  width: 100%;
  padding: 0 10px;
  border-collapse: collapse;

  tr { transition: background-color $animation; }
  
  // th, td { @include border_red; }

  th {
    font-size: $mid_font;
    font-weight: $bold_default;
    color: $primary;
    text-align: left;
    padding: 10px calc($margin/2);
    white-space: nowrap;
  }

  td {
    padding: 7px calc($margin/2);
    input { width: 90%; }
  }

  button { padding: 5px 10px; }

  tbody {
    tr:hover {
      background-color: $secondary_hover !important;

      svg { opacity: 1 !important; }
    }
  }
}

.tr_search:hover { background-color: transparent !important; }

.td_view_project {
  padding-right: 0;

  &:hover {
    svg { fill: $primary; }
  }
}

.admin_tbody {
  td { vertical-align: top; }
}

.td_more_options {
  padding-left: 0;
  position: relative;
}

.td_more_options_expand {
  visibility: hidden;
  opacity: 0;
  padding: 5px 0;
  border-radius: $border_radius;
  border: 1px solid $primary;
  background-color: $neutral;
  transition: visibility $animation, opacity $animation;
  position: absolute;
  top: -23px;
  left: -80px;
  z-index: 3;

  button {
    border-radius: 0;
    border: none;
    text-align: left;
  }
}

.mul_options {
  flex-direction: column;
  justify-content: center;
  top: -30px;
}