.counties_svg {
  // @include border;

  path {
    stroke: #AAA;
    stroke-width: 1;

    &:hover {
      fill: $primary;
      cursor: pointer;
    }
  }
}

.counties_list {
  width: 60%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    // min-width: 140px;
    display: inline-block;
    margin: 5px;
  }
}

.county_list__header {
  border-radius: 4px;
  position: relative;
}

.county_list__expand {
  display: none;
  flex-direction: column;
  width: 180px;
  padding: 0 10px;
  
  span {
    font-size: $small_font;
    display: block;
    margin: 7px 0;

    &:nth-child(4) { margin-bottom: 12px; }
  }

  &:last-child { margin: 5px 0;}
}