.tooltip {
  display: inline-block;
}

.tooltiptext {
  display: none;
  width: 0;
  height: 0;
  border: 1px solid black;
  padding: 5px;
}

.tooltip:hover .tooltiptext {
  display: block;
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 50px;
  top: 50%;
  z-index: 100;
}

////////////////////////////////////////////////

.counties {
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
  @include h_center_content;
  
  // @include border_red;
  // & > * { @include border_blu; }

  h2 {
    color: $secondary;
    font-weight: $bold_x1;
    margin: 35px 0;
  }
}

.counties_map {
  translate: -15px 15px;
  background-color: transparent;
  // scale: $scale;
  position: sticky;
  top: 90px;

  path {
    stroke: #BBB;
    stroke-width: 1;
    transition: fill $animation;

    &:hover {
      fill: $primary !important;
      stroke: $primary !important;
      // stroke-width: 2;
      cursor: pointer;
    }
  }
}

.counties_list {
  width: 55%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 5px;
  }
}

.counties_list__header {
  border-radius: 4px;
  position: relative;
}

.counties_list__expand {
  display: none;
  width: 155px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 10px 0;

  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  span { font-size: $small_font; }
  button { margin: 2px 0 4px; }
}

