.counties {
  justify-content: space-around;
  align-items: flex-start;

  // & > * { border: 1px solid red; }
}

.counties_svg {

  path {
    stroke: #AAA;
    stroke-width: 1;

    &:hover {
      fill: $primary !important;
      stroke: $neutral;
      cursor: pointer;
    }
  }
}

.counties__list {
  width: 400px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}