.banner {
  height: 70vh;
  background-image: url('http://127.0.0.1:8887/banner.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  transition: background-image $animation;

  section {
    width: 325px;
    position: absolute;
    top: 50%;
    right: 100px;
    translate: 0 -50%;

    & > * { color: $neutral; }
  }

  svg {
    padding: 10px;
    border-radius: 50%;
    opacity: .4;
    transition: opacity $animation;
    position: absolute;
    top: 50%;
    translate: 0 -50%;

    &:hover { opacity: .9; }
  }
}

.banner__next_icon {
  rotate: 180deg;
  right: 15px;
}

.banner__prev_icon { left: 15px; }

.sdg__cards {
  justify-content: space-between;
  gap: 50px;

  hr {
    margin: 0;
    border: none;
    border-left: 1px solid $primary;
    rotate: -90deg;
    z-index: 1;
  }

  section {
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 3;
  }
}