.banner {
  height: 70vh;
  background-image: url('../assets/images/banner.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  section {
    width: 25vw;
    position: absolute;
    top: 50%;
    right: 5%;
    translate: 0 -50%;

    & > * { color: $neutral; }
  }
}

.landing_section {
  width: 60%;
  margin: 50px 0;
  @include h_center_content;
  // @include border;

  h2, & > p { text-align: center; }
}

.landing_section_lg { width: 80%; }

.landing_section__cards {
  gap: 50px;

  & > div { width: 100%; }
}

.sdg__cards {
  margin-top: 50px;
  justify-content: center;
  gap: 50px;

  hr {
    margin: 0;
    border: none;
    border-left: 1px solid $primary;
    rotate: -90deg;
    z-index: 1;
  }

  section {
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 3;

    h3 { font-size: $large_font; }
  }
}