.intro {
  margin-top: 30px;
  justify-content: center;
  align-items: center;

  // & > * { border: 1px solid red; }

  img {
    width: 70vw;
  }

  section {
    width: 20vw;

    h2 {
      font-size: $x1_large_font;
    }
  }
}

.sdg {
  width: 90%;
  margin: 50px 0;
  @include h_center_content;
  // border: 1px solid red;

  div {
    justify-content: center;
    gap: 75px;

    section {
      width: 250px;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
  
      h3 {
        font-size: $large_font;
      }
    
      span {
        font-size: 6rem;
        font-weight: $bold_x2;
        opacity: .1;
        position: absolute;
        top: -17px;
        right: 7px;
      }
    }
  }

  a {
    border: 1px solid $primary;

    &:hover {
      width: calc(100% - $card_padding);
      text-align: center;
    }
  }
}

.mid_section {
  width: 90%;
  @include h_center_content;
  // border: 1px solid blue;
}