.brand {
  transition: color $animation;

  &:hover {
    background-color: transparent !important;
    color: $primary_hover !important;
  }
}

nav {
  padding: 0px 50px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      @include v_center_content;
      padding-left: 5px;
    }
  }
}

.sec_nav { border-bottom: 1px solid $primary; }

footer {
  height: 85px;
  background-color: $primary;

  span {
    display: inline-block;
    @include center_content;
    color: $neutral;
  }
}