.modal {
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, .75);
  overflow-y: auto;
  z-index: 2;
  transition: visibility $animation, opacity $animation;
  position: fixed;
  top: 0;
}

.modal__card {
  width: 70vw;
  margin: 100px 0 50px;
  @include h_center_content;

  h2 {
    font-size: $large_font_xl;
    font-weight: $bold_default;
    color: $primary;
    margin: calc($margin/3) 0 calc($margin/2);
    text-indent: 15px;

    em {
      font-size: $large_font_xl;
      font-weight: $bold_x1;
      color: $secondary;
    }
  }
}

.modal__card_sm {
  max-width: 300px;
  margin: 0;
  @include center_content;

  // & > * { @include border_blu; }

  svg {
    @include h_center_content;
    fill: $primary;
    scale: 2.3;
    margin: 20px 0;
    transform: translateY(-3px);
  }

  h3 {
    font-weight: $bold_default;
    margin-bottom: 30px;
    text-align: center;
  }

  & > div {
    justify-content: center;
    gap: $margin;
    
    button { width: 80px; }
  }

  & > button { @include h_center_content; }
}

.modal__card__header {
  align-items: center;

  span { font-size: $large_font; }
}

.modal__card__top {
  // @include border_red; & > * { @include border_blu; }

  h3 { color: $secondary; }

  section {
    &:nth-child(1) { margin-bottom: $margin; }

    span {
      display: block;
      margin-top: 10px;
      white-space: pre;
    }
  }
}

.modal__card__top__summary {
  gap: 15px;

  b {
    font-size: $mid_font;
    font-weight: $bold_default;
    color: $primary;
  }
}

.modal__card__table_extras {
  align-items: flex-end;
  margin: 10px 0;
  // @include border_red;

  button { margin-right: 10px; }
  span {
    font-size: $small_font;
    white-space: pre;

    &:nth-child(2) { margin: 0 0 0 auto; }

    &:nth-child(3) {
      display: none;
      margin-right: 10px;
    }
  }
}