menu {
  width: 15%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border-right: 1px solid $primary;

  & > section:nth-child(2) {
    button:nth-child(2) { border-left: 8px solid #669FC3; }
  }

  & > section:nth-child(4) {
    margin-top: 0;
    margin-bottom: auto;
  }

  h3 {
    margin: 20px 0 10px 10px;
    font-weight: $bold_default;
    grid-column: 1/3;
  }

  button {
    width: 100%;
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 0;
    text-align: left;
  }
}

.admin_view__add_project {
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  margin: 10px;
  border: 1px solid $primary;
  border-radius: $border_radius;
  color: $primary;
  transition: background-color $animation;

  svg {
    fill: $primary;
    scale: .9;
    margin-left: -10px;
  }
  
  &:hover {
    @include hover;
    svg { fill: $neutral; }
  }
}

.sidePanel {
  width: 0;
  height: calc(100vh - $card_padding * 2);
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, .99);
  border-left: 1px solid $primary;
  overflow-y: auto;
  padding: $card_padding;
  transition: width $animation, visibility $animation, opacity $animation;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  h3 {
    margin-bottom: 10px;
    font-weight: $bold_light;
  }
}

.sidePanel::-webkit-scrollbar { width: 0; }

.sidePanel__content {
  width: 100%;
  margin-top: 10px;
  @include h_center_content;
  // @include border_red;

  div { margin-bottom: calc($margin/2); }
}

.sidePanel__content__grid {
  display: grid;
  grid-template-columns: 40% 60%;
  // @include border_red;

  & > * {
    padding: 3px;
    margin: 3px 0 3px 10px;
    box-sizing: border-box;
    // @include border_blu;
  }
}