.sidePanel {
  width: 0;
  height: calc(100vh - $card_padding * 2);
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, .99);
  border-left: 1px solid $primary;
  overflow-y: auto;
  z-index: 3;
  padding: $card_padding;
  transition: width $animation, visibility $animation, opacity $animation;
  position: fixed;
  top: 0;
  right: 0;

  h3 {
    margin-bottom: 10px;
    font-weight: $bold_light;
    grid-column: 1/3;
  }
}

.sidePanel::-webkit-scrollbar { width: 0; }

.sidePanel__info {
  width: 100%;
  margin-top: 10px;
  flex-direction: column;
  gap: calc($margin/3);
  @include h_center_content;
}

.sidePanel__info__grid {
  display: grid;
  grid-template-columns: 40% 60%;

  & > * {
    padding: 3px;
    margin: 3px 0;
    box-sizing: border-box;
    // @include border_blu;
  }

  & > span { margin-left: 10px; }
}

.admin_view {
  width: 100%;
  height: 100%;

  menu, & > div {
    height: calc(100% - 75px);
    box-sizing: border-box;
    position: absolute;
  }
  
  menu {
    width: 15%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border-right: 1px solid $primary;

    & > section:nth-child(3) {
      margin-top: 0;
      margin-bottom: auto;
    }
  
    h3 {
      margin: 20px 0 10px 10px;
      font-weight: $bold_default;
      grid-column: 1/3;
    }
  
    button {
      width: 100%;
      font-size: 1rem;
      padding-top: 8px;
      padding-bottom: 8px;
      border: none;
      border-radius: 0;
      text-align: left;
    }

    & > button:last-child {
      padding-top: 12px;
      padding-bottom: 20px;
    }
  }

  & > div {
    width: 85%;
    right: 0;
  }

  h2, p { text-align: left; }
}