$border_radius: 5px;

// Colours
$primary: #669FC3;
$primary_hover: #91bad4;
$secondary: #555;
$light_grey: #CCC;
$neutral: #FFF;

// Font
$small_font: .8rem;
$mid_font: 1.2rem;
$large_font: 1.6rem;
$large_font_x1: 2rem;
$large_font_x2: 2.5rem;
$large_font_xl: 3.5rem;
$large_font_xxl: 6rem;

$bold_light: 300;
$bold_default: 400;
$bold_x1: 600;
$bold_x2: 700;

// Margin 
$margin: 30px;

// Padding
$link_padding: 5px 15px;
$card_padding: $margin;
$card_padding_sm: 10px;

// Transformations
$animation: 0.1s linear;
$scale: 1.02;