$border_radius: 5px;

// Colours
$primary: #659FC3;  // hsl(203, 44%, 58%)
$primary_hover: #BDD6E5;
$secondary: #555;
$secondary_hover: #F6F6F6;
$light_grey: #CCC;
$neutral: #FFF;

// Font
$small_font: .85rem;
$mid_font: 1.2rem;
$large_font: 1.4rem;
$large_font_x1: 2rem;
$large_font_x2: 2.5rem;
$large_font_xl: 3.5rem;
$large_font_xxl: 5.5rem;

$bold_light: 300;
$bold_default: 400;
$bold_x1: 600;
$bold_x2: 700;

// Margin 
$margin: 30px;

// Padding
$link_padding: 5px 15px;
$card_padding: 30px;
$card_padding_sm: 10px;
$card_padding_md: 20px;

// Transformations
$animation: 0.1s linear;
$scale: 1.02;