.view_content {
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 50px 50px;
  // @include border;

  h2 {
    color: $secondary;
    font-weight: $bold_x1;
    margin: 35px 0;

    em {
      font-size: $large_font;
      font-style: normal;
    }
  }

  // & > * { @include border; }
}