.page_section {
  width: 55%;
  margin: 50px 0;
  @include h_center_content;
  
  // @include border_blu;
  // & > * {@include border_blu;}

  p { margin-bottom: $margin; }

  & > span {
    display: block;
    margin-bottom: calc($margin/2);
  }

  h2, & > p, & > span { text-align: center; }
}

.page_section_lg { width: 90%; }

.page_section__features {
  gap: $margin;

  span {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

.page_section__stats {
  gap: $margin;
  
  & > div { width: 100%; }
}