.page_section {
  width: 90%;
  margin: 50px 0;
  @include h_center_content;
  
  // @include border_blu;
  // & > * {@include border_blu;}

  p { margin-bottom: $margin; }

  & > span {
    display: block;
    margin-bottom: calc($margin/2);
  }

  h2, & > p, & > span { text-align: center; }
}

.page_section_sm { width: 55%; }

.page_section__features {
  gap: $margin;

  span {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

.page_section__stats {
  gap: $margin;
  
  & > div { width: 100%; }
}

.about {
  width: 50vw;
  text-align: center;
  @include center_content;
  position: absolute;
}

.admin_view {
  width: 100%;
  height: 100%;

  menu, & > div {
    height: calc(100% - 75px);
    box-sizing: border-box;
    position: absolute;
  }
  
  & > div {
    width: 85%;
    right: 0;
  }

  h2, p { text-align: left; }
}

  