@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #659FC3;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  color: #659FC3;
}

h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  color: #659FC3;
}

p {
  line-height: 1.5;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

em {
  font-weight: 600;
  font-style: normal;
}

.close_modal_svg {
  fill: #659FC3;
  scale: 0.9;
  transition: fill 0.1s linear;
  border-radius: 50%;
  background-color: transparent;
}
.close_modal_svg:hover {
  fill: #BDD6E5;
  cursor: pointer;
}

.more_options_svg {
  width: 20px;
  height: 20px;
  opacity: 0;
  fill: #CCC;
  transition: opacity 0.1s linear, fill 0.1s linear;
  border-radius: 50%;
  background-color: transparent;
}
.more_options_svg:hover {
  fill: #659FC3 !important;
  cursor: pointer;
}

.visibilitySVG {
  height: 25px;
  fill: #CCC;
  scale: 0.9;
  translate: 0 3px;
  transition: fill 0.1s linear;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.brand {
  transition: color 0.1s linear;
}
.brand:hover {
  background-color: transparent !important;
  color: #BDD6E5 !important;
}

nav {
  height: 75px;
  align-items: center;
  padding: 0px 50px;
  background-color: #FFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}
nav ul {
  list-style-type: none;
  margin: 0 15px 0 auto;
  padding: 0;
}
nav ul li {
  display: inline-block;
  padding-left: 5px;
}
nav button {
  font-size: 1rem;
  border: none;
}

.secondary_nav {
  border-bottom: 1px solid #659FC3;
  box-sizing: border-box;
}

footer {
  height: 85px;
  background-color: #659FC3;
}
footer span {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: #FFF;
}

button {
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid #659FC3;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
}

a, button {
  padding: 5px 15px;
  border-radius: 5px;
  color: #659FC3;
  transition: background-color 0.1s linear;
}
a:hover, button:hover {
  background-color: #659FC3 !important;
  color: #FFF !important;
  cursor: pointer;
}

.badge {
  font-weight: 600;
  padding: 2px 10px;
  color: #659FC3;
  border-radius: 5px;
  transition: background-color 0.1s linear;
  translate: 10px 0;
}
.badge:hover {
  color: #FFF;
  background-color: #659FC3;
}

.card {
  padding: 30px;
  border-radius: 5px;
  background-color: #FFF;
  border: 1px solid #659FC3;
}

.card_sm {
  padding: 10px;
  transition: box-shadow 0.1s linear;
}
.card_sm:hover {
  box-shadow: 0 0 5px #BDD6E5;
  cursor: pointer;
}

.card_md {
  padding: 20px;
  transition: scale 0.1s linear;
}
.card_md span {
  white-space: nowrap;
}
.card_md:hover {
  scale: 1.02;
}

.card_lg {
  transition: scale 0.1s linear;
}
.card_lg:hover {
  scale: 1.02;
}

.card_number_effect_ex {
  display: none;
  font-size: 3.5rem;
  font-weight: 700;
  opacity: 0.1;
  position: absolute;
  top: -20px;
  right: -3px;
}

.card_number_effect_lg {
  font-size: 5.5rem;
  font-weight: 700;
  opacity: 0.05;
  position: absolute;
  top: -20px;
  right: 10px;
}

.card_number_effect_modal {
  font-size: 2.5rem;
  font-weight: 700;
  display: inline-block;
  opacity: 0.3;
  translate: 5px 0;
}

.card_a {
  border: 1px solid #659FC3;
}
.card_a:hover {
  width: calc(100% - 30px);
  text-align: center;
}

.card_button:hover {
  width: 100%;
}

input, textarea, select, option {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
}

input, textarea, select {
  border: none;
  border-bottom: 1px solid #659FC3;
  background: transparent;
  transition: box-shadow 0.1s linear;
}
input:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: 0 2px 1px #BDD6E5;
}

form input, form textarea, form select {
  border-radius: 5px;
  border: 1px solid #659FC3;
}
form input:focus, form textarea:focus, form select:focus {
  box-shadow: 0 0 5px #BDD6E5;
}
form textarea {
  min-width: 40%;
  max-width: calc(100% - 10px);
  min-height: 40px;
  max-height: 150px;
}
form button {
  width: 100%;
  font-size: 0.9rem;
  padding: 7px 0;
  margin-top: 10px;
}

.login_container {
  width: 75%;
  padding: 5px 15px 15px;
  border-radius: 5px;
  border: 1px solid #659FC3;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  position: absolute;
}

.login_form input {
  width: 80%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #659FC3;
  border-radius: 0;
  background: transparent;
  transition: box-shadow 0.1s linear;
}
.login_form input:focus {
  box-shadow: 0 0 0 transparent;
}

.table_container {
  border: 1px solid #659FC3;
  border-radius: 5px;
  padding-bottom: 7px;
}

.table_container::-webkit-scrollbar {
  width: 0;
}

.table_container_sm {
  display: inline-table;
}

table {
  width: 100%;
  padding: 0 10px;
  border-collapse: collapse;
}
table tr {
  transition: background-color 0.1s linear;
}
table th {
  font-size: 1.2rem;
  font-weight: 400;
  color: #659FC3;
  text-align: left;
  padding: 10px 15px;
  white-space: nowrap;
}
table td {
  padding: 7px 15px;
}
table td input {
  width: 90%;
}
table button {
  padding: 5px 10px;
}
table tbody tr:hover {
  background-color: #F6F6F6 !important;
}
table tbody tr:hover svg {
  opacity: 1 !important;
}

.tr_search:hover {
  background-color: transparent !important;
}

.td_view_project {
  padding-right: 0;
}
.td_view_project:hover svg {
  fill: #659FC3;
}

.admin_tbody td {
  vertical-align: top;
}

.td_more_options {
  padding-left: 0;
  position: relative;
}

.td_more_options_expand {
  visibility: hidden;
  opacity: 0;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid #659FC3;
  background-color: #FFF;
  transition: visibility 0.1s linear, opacity 0.1s linear;
  position: absolute;
  top: -23px;
  left: -80px;
  z-index: 3;
}
.td_more_options_expand button {
  border-radius: 0;
  border: none;
  text-align: left;
}

.mul_options {
  flex-direction: column;
  justify-content: center;
  top: -30px;
}

.page_section {
  width: 90%;
  margin: 50px 0;
  position: relative;
  left: 50%;
  translate: -50% 0;
}
.page_section p {
  margin-bottom: 30px;
}
.page_section > span {
  display: block;
  margin-bottom: 15px;
}
.page_section h2, .page_section > p, .page_section > span {
  text-align: center;
}

.page_section_sm {
  width: 55%;
}

.table_div {
  display: inline-block;
}

.page_section__features {
  gap: 30px;
}
.page_section__features span {
  width: 100%;
  text-align: center;
  margin: 0;
}

.page_section__input {
  width: 40vw;
  margin-bottom: 30px;
  position: relative;
  left: 50%;
  translate: -50% 0;
}
.page_section__input select {
  width: 30%;
}
.page_section__input input {
  width: 65%;
}

.page_section__stats {
  gap: 30px;
}
.page_section__stats > div {
  width: 100%;
}

.updates {
  width: 40vw;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
  position: relative;
  left: 50%;
  translate: -50% 0;
}
.updates span:nth-child(2) {
  float: right;
}
.updates span:last-child {
  display: block;
  margin-top: 15px;
}
.updates em {
  color: #659FC3;
}

.about {
  width: 50vw;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  position: absolute;
}

.admin_view {
  width: 100%;
  height: calc(100vh - 75px);
  position: relative;
}
.admin_view menu, .admin_view > div {
  height: 100%;
  box-sizing: border-box;
  position: absolute;
}

.admin_view__content {
  width: 85%;
  overflow-y: auto;
  right: 0;
}

.banner {
  height: 70vh;
  background-image: url("http://127.0.0.1:8887/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  transition: background-image 0.1s linear;
}
.banner section {
  width: 325px;
  padding: 20px;
  border-radius: 5px;
  transition: background-color 0.1s linear;
  position: relative;
  top: 50%;
  translate: 0 -50%;
  position: absolute;
  right: 100px;
}
.banner section p {
  margin: 0;
}
.banner section > * {
  color: #FFF;
}
.banner section:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.banner svg {
  padding: 10px;
  border-radius: 50%;
  opacity: 0.4;
  transition: opacity 0.1s linear;
  position: relative;
  top: 50%;
  translate: 0 -50%;
  position: absolute;
}
.banner svg:hover {
  opacity: 0.9;
}

.banner__next_icon {
  rotate: 180deg;
  right: 15px;
}

.banner__prev_icon {
  left: 15px;
}

.sdg__cards {
  justify-content: space-between;
  gap: 50px;
}
.sdg__cards hr {
  margin: 0;
  border: none;
  border-left: 1px solid #659FC3;
  rotate: -90deg;
  z-index: 1;
}
.sdg__cards section {
  width: 35%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 3;
}

.tooltip {
  display: inline-block;
}

.tooltiptext {
  display: none;
  width: 0;
  height: 0;
  border: 1px solid black;
  padding: 5px;
}

.tooltip:hover .tooltiptext {
  display: block;
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 50px;
  top: 50%;
  z-index: 100;
}

.counties {
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
  position: relative;
  left: 50%;
  translate: -50% 0;
}
.counties h2 {
  color: #555;
  font-weight: 600;
  margin: 35px 0;
}

.map_contents {
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.map_contents__key {
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}
.map_contents__key svg:nth-child(2) {
  fill: #a0c4da;
}
.map_contents__key svg:nth-child(3) {
  fill: #b9d4e4;
}
.map_contents__key svg:nth-child(4) {
  fill: #d3e4ee;
}
.map_contents__key svg:nth-child(5) {
  fill: #edf4f8;
}

.counties_map {
  translate: -15px 15px;
  background-color: transparent;
  scale: 1.02;
}
.counties_map path {
  stroke: #BBB;
  stroke-width: 1;
  transition: fill 0.1s linear;
}
.counties_map path:hover {
  fill: #659FC3 !important;
  stroke: #FFF !important;
  cursor: pointer;
}

.counties_list {
  width: 55%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.counties_list li {
  display: inline-block;
  margin: 5px;
}

.counties_list__header {
  border-radius: 4px;
  position: relative;
}

.counties_list__expand {
  display: none;
  width: 155px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 10px 0;
}
.counties_list__expand div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counties_list__expand span {
  font-size: 0.85rem;
}
.counties_list__expand button {
  margin: 2px 0 4px;
}

.modal {
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.75);
  overflow-y: auto;
  transition: visibility 0.1s linear, opacity 0.1s linear;
  position: fixed;
  top: 0;
  z-index: 10;
}

.modal__card {
  width: 70vw;
  margin: 120px 0 50px;
  position: relative;
  left: 50%;
  translate: -50% 0;
}
.modal__card h2 {
  font-size: 3.5rem;
  font-weight: 400;
  color: #659FC3;
  margin: 10px 0 15px;
  text-indent: 15px;
}
.modal__card h2 em {
  font-size: 3.5rem;
  font-weight: 600;
  color: #555;
}

.modal__card_centered {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.modal__card_sm {
  max-width: 300px;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.modal__card_sm svg {
  position: relative;
  left: 50%;
  translate: -50% 0;
  fill: #659FC3;
  scale: 2.3;
  margin: 20px 0;
  transform: translateY(-3px);
}
.modal__card_sm h3 {
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}
.modal__card_sm > div {
  justify-content: center;
  gap: 30px;
}
.modal__card_sm > div button {
  width: 80px;
}
.modal__card_sm > button {
  position: relative;
  left: 50%;
  translate: -50% 0;
}

.modal__card__header {
  align-items: center;
}
.modal__card__header span {
  font-size: 1.4rem;
}

.modal__card__top h3 {
  color: #555;
}
.modal__card__top div section {
  margin-bottom: 30px;
}
.modal__card__top div section span {
  display: block;
  margin-top: 10px;
  white-space: pre;
}

.modal__card__top__summary {
  gap: 15px;
}
.modal__card__top__summary b {
  font-size: 1.2rem;
  font-weight: 400;
  color: #659FC3;
}

.modal__card__table_extras {
  align-items: center;
  margin: 10px 0;
}
.modal__card__table_extras button {
  margin-right: 10px;
}
.modal__card__table_extras a {
  font-size: 0.85rem;
  border: 1px solid transparent;
}
.modal__card__table_extras a:hover {
  border: 1px solid #659FC3;
}
.modal__card__table_extras span {
  font-size: 0.85rem;
  white-space: pre;
}
.modal__card__table_extras span:nth-child(2) {
  margin: 0 0 0 auto;
}
.modal__card__table_extras span:nth-child(3) {
  display: none;
  margin-right: 10px;
}

.no_projects {
  margin-top: 30px;
  text-align: center;
}

menu {
  width: 15%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border-right: 1px solid #659FC3;
}
menu > section:nth-child(4) {
  margin-top: 0;
  margin-bottom: auto;
}
menu h3 {
  margin: 20px 0 10px 10px;
  font-weight: 400;
  grid-column: 1/3;
}
menu button {
  width: 100%;
  font-size: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 0;
  text-align: left;
}

.admin_view__add_project {
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  margin: 10px;
  border: 1px solid #659FC3;
  border-radius: 5px;
  color: #659FC3;
  transition: background-color 0.1s linear;
}
.admin_view__add_project svg {
  fill: #659FC3;
  scale: 0.9;
  margin-left: -10px;
}
.admin_view__add_project:hover {
  background-color: #659FC3 !important;
  color: #FFF !important;
  cursor: pointer;
}
.admin_view__add_project:hover svg {
  fill: #FFF;
}

.sidePanel {
  width: 0;
  height: calc(100vh - 60px);
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.99);
  border-left: 1px solid #659FC3;
  overflow-y: auto;
  padding: 30px;
  transition: width 0.1s linear, visibility 0.1s linear, opacity 0.1s linear;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
.sidePanel h3 {
  margin-bottom: 10px;
  font-weight: 300;
}

.sidePanel::-webkit-scrollbar {
  width: 0;
}

.sidePanel__content {
  width: 100%;
  margin-top: 10px;
  position: relative;
  left: 50%;
  translate: -50% 0;
}
.sidePanel__content div {
  margin-bottom: 15px;
}

.sidePanel__content__grid {
  display: grid;
  grid-template-columns: 40% 60%;
}
.sidePanel__content__grid > * {
  padding: 3px;
  margin: 3px 0 3px 10px;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */