@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #669FC3;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
}

h3 {
  margin: 0;
  color: #669FC3;
}

p {
  line-height: 1.5;
  margin-bottom: 25px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 30px;
  border-radius: 5px;
  background-color: #FFF;
  border: 1px solid #669FC3;
  transition: scale 0.1s linear;
}
.card:hover {
  scale: 1.02;
}

.card_sm {
  padding: 10px;
  border-radius: 5px;
  background-color: #FFF;
  border: 1px solid #669FC3;
  transition: box-shadow 0.1s linear;
}
.card_sm:hover {
  box-shadow: 0 0 5px #ABCADC;
  cursor: pointer;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
}

a, button {
  padding: 5px 15px;
  border-radius: 5px;
  color: #669FC3;
  transition: background-color 0.1s linear;
}
a:hover, button:hover {
  background-color: #669FC3 !important;
  color: #FFF !important;
  cursor: pointer;
}

.card_a {
  border: 1px solid #669FC3;
}
.card_a:hover {
  width: calc(100% - 30px);
  text-align: center;
}

.card_sm_number_effect {
  font-size: 4rem !important;
  font-weight: 700;
  opacity: 0.03;
  position: absolute;
  top: -60px;
  right: 0;
}

.card_lg_number_effect {
  font-size: 6rem;
  font-weight: 700;
  opacity: 0.1;
  position: absolute;
  top: -17px;
  right: 7px;
}

.brand {
  transition: color 0.1s linear;
}
.brand:hover {
  background-color: transparent !important;
  color: #ABCADC !important;
}

nav {
  padding: 0px 50px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  position: relative;
  top: 50%;
  translate: 0 -50%;
  padding-left: 5px;
}

.sec_nav {
  border-bottom: 1px solid #669FC3;
}

footer {
  height: 75px;
  background-color: #669FC3;
}
footer span {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: #FFF;
}

.view_content {
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 50px 50px;
}
.view_content h2 {
  margin-top: 25px;
}

.view_content__cards {
  gap: 50px;
}
.view_content__cards > div {
  width: 100%;
}

.banner {
  height: 70vh;
  background-image: url("../assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.banner section {
  width: 25vw;
  position: absolute;
  top: 50%;
  right: 5%;
  translate: 0 -50%;
}
.banner section > * {
  color: #FFF;
}

.landing_section {
  width: 60%;
  margin: 50px 0;
  position: relative;
  left: 50%;
  translate: -50% 0;
}
.landing_section h2, .landing_section > p {
  text-align: center;
}

.sdg__cards {
  margin-top: 50px;
  justify-content: center;
  gap: 50px;
}
.sdg__cards hr {
  margin: 0;
  border: none;
  border-left: 1px solid #669FC3;
  rotate: -90deg;
  z-index: 1;
}
.sdg__cards section {
  width: 250px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 3;
}
.sdg__cards section h3 {
  font-size: 1.6rem;
}

.counties_svg path {
  stroke: #AAA;
  stroke-width: 1;
}
.counties_svg path:hover {
  fill: #669FC3;
  cursor: pointer;
}

.counties_list {
  width: 60%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.counties_list li {
  display: inline-block;
  margin: 5px;
}

.county_list__header {
  border-radius: 4px;
}

.county_list__expand {
  display: none;
  flex-direction: column;
  width: 180px;
  padding: 0 10px;
  position: relative;
}
.county_list__expand span {
  font-size: 0.8rem;
  display: block;
  margin: 7px 0;
}
.county_list__expand span:nth-child(5) {
  margin-bottom: 12px;
}
.county_list__expand:last-child {
  margin: 5px 0;
}/*# sourceMappingURL=main.css.map */